---
layout: default
---

<div class="home">


<header class="post-header">
  <h1 class="post-title">Hello!</h1>
</header>

            <p> <img src="/assets/photoself.jpg" width="190" height="230" style="margin: 0px 0px 10px 40px; float:right; border-radius:15px;">

Hello! I am currently a Ph.D. student and NSF Graduate Research Fellow studying theoretical astro-particle physics in the <a href="http://physics.uci.edu">UC Irvine Department of Physics and Astronomy</a>. I started this website as way of documenting my progress as I work to improve upon my statistics / data science / coding skills. See <a href="http://annakwa.github.io/blog"> my blog on this page</a> if you're curious about some of the side projects I've been working on.
</p>


	<p>My research focuses on using astrophysical and cosmological observations to probe the particle nature of dark matter. If you're interested in my research work, check out <a href="http://annakwa.github.io/research">this bit of my page</a> that describes some of the stuff I've worked on as a graduate student. </p>

<p>
Outside of my research activities, I also enjoy helping students of all ages get excited about physics and the Universe through teaching and outreach programs. I've put some of my education materials on the <a href="http://annakwa.github.io/education">education and outreach section of this site</a>. </p>	
</div>
